* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    background-color: white;

}



/* NAVBAR SECTION */
.navbar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0px 50px;
}

.edgecut {
    text-decoration: none;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    color: black;

}

.edgecut:hover {
    cursor: default;
}

.links {
    display: flex;
    gap: 20px;
    font-size: 17px;


}

.link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px solid transparent;
    transition: all 0.3s linear;



}

.link:hover {
    border-bottom: 2px solid #006494;
    color: #006494;
    transform: translateY(-2px);
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    cursor: pointer;

}

.log1 {
    display: flex;
    gap: 3px;
    justify-content: center;
    height: 40px;
    align-items: center;
    transition: all 0.3s linear;
}

.log {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px solid transparent;
    transition: all 0.3s linear;

}

.log:hover {
    border-bottom: 2px solid #006494;
    color: #006494;
    transform: translateY(-2px);

}

.search {
    transition: all 0.3s linear;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(241, 227, 227);
    display: flex;
    justify-content: center;
    align-items: center;

}

.search:hover {
    background-color: #6bb7be;
    color: white;

}

/* HERO SECTION */
.hero-section {
    height: 500px;
    width: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 120px;
    background-color: #f8f9fa;
    margin: auto;
}

.hero {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 40px;

}


.myimg {
    height: 300px;
    border-radius: 8px;
}

.head {
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;

}

.para {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 0px;
    line-height: 1.2;
}

.btns {
    display: flex;
    margin-top: 30px;
    gap: 20px;
}

.contact {
    display: flex;
    height: 45px;
    width: 140px;
    text-decoration: none;
    color: white;
    background-color: #f89646;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-size: 18px;
    border: 1px solid transparent;
    transition: all 0.2s linear 0.1s;
}

.contact:hover {
    border: 1px solid #f89646;
    background-color: #f8f9fa;
    color: #f89646;
}

.about {
    display: flex;
    height: 45px;
    width: 140px;
    text-decoration: none;
    color: white;
    background-color: #6bb7be;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    border: 1px solid transparent;
    font-size: 18px;
    transition: all 0.2s linear 0.1s;



}

.about:hover {
    color: #6bb7be;
    background-color: #f8f9fa;
    border: 1px solid #6bb7be;
}

.img {
    height: 400px;
    width: 600px;
}

#heading {
    color: #03045e;
    margin-top: 20px;
    text-align: center;
    font-family: "poppins", sans-serif;
}

#heading-para {

    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin: 10px 0px;
    line-height: 1.6;
}


/* FUNRITURE SECTION  */
.furniture {
    padding: 50px 60px;
}

.content {
    padding-left: 60px;
    display: flex;
    flex-direction: column;
}

.our {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 10px;
}

.our-para {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

}

.stock {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;


}

.card {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 360px;
    padding: 20px;
    justify-content: center;
    border-radius: 8px;
    background-color: #f5f7ea;
    transition: all 0.3s linear 0.1s;
}

.card:hover {
    transform: translateY(-10px);
    border: 1px solid #5988af;
}

.img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sofa {
    height: 220px;
    width: 250px;
    display: flex;
    align-items: center;
}

.intro {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-size: 18px;
    margin-top: 20px;
}

span {
    color: #378796;
    font-size: 20px;
}

.price {
    font-size: 20px;
}

.buy {
    text-decoration: none;
    color: #006494;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1.5px solid transparent;
    transition: all 0.1s linear 0.1s;


}

.buy:hover {
    border-bottom: 1px solid #006494;
}

.line {
    display: flex;
    justify-content: space-between;

    margin-top: 15px;
}



/* ABOUT SECTION  */
.about-section {
    display: flex;
    justify-content: center;
    height: 400px;
    width: 92%;
    gap: 50px;
    padding: 40px 0px;
    background-color: #f5f7ea;
    margin: auto;

}

.ab-img {
    height: 300px;
    width: 500px;
    object-fit: cover;
    border-radius: 20px;
}

.ab-head {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;

}

.ab-para {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
}

.about-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    gap: 20px;

}

.more {
    display: flex;
    background-color: #6bb7be;
    height: 45px;
    width: 140px;
    justify-content: center;
    align-items: center;
    transition: all 0.2s linear 0.1s;
    cursor: pointer;
}

.more:hover {
    background-color: #f5f7ea;
    border: 1px solid #6bb7be;
}

.more:hover .read {
    color: #6bb7be;
}

.read {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.2s linear 0.1s;

}




/* BLOG SECTION  */
.blog {
    height: 650px;
    width: 100%;
    padding: 40px 0px;
}

.flex-heading {
    text-align: center;
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;

}

.flex-para {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 15px;
    color: black;
}

.new-flex {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;

}


.new-flex1 {
    width: 349px;
    height: 440px;
    box-shadow: 0px 0px 3px gray;
    border-radius: 4px;
    transition: all 0.3s linear 0.1s;
    border: 1px solid transparent;
    border-radius: 4px;
}

.new-flex1:hover {
    transform: translateY(-7px);
    border-radius: none;
    box-shadow: none;
    border: 1px solid #6bb7be;
}

#img {
    width: 100%;
    border-radius: 4px;
    transition: all 0.3s linear 0.1s;
}

.new-flex1:hover #img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.my-content {
    padding: 0px 12px;
}

#para1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 550;
    margin: 15px 0px;
}

#para2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.btn-link {
    display: flex;
    height: 40px;
    width: 120px;
    background-color: #6bb7be;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: all 0.2s linear 0.1s;
    cursor: pointer;
}

.button {
    margin: 13px 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 17px;

}


.btn-link:hover {
    background-color: white;
    border: 1px solid #6bb7be;

}

.btn-link:hover .button {
    color: #6bb7be;
}


/* Testimonial section */
.testimonials {
    height: 500px;
    width: 100%;
    margin-top: 40px;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.test-head {
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.test-para {
    font-family: Arial, Helvetica, sans-serif;
}

.cmnt {
    width: 70%;
    height: 260px;
    display: flex;
    margin: 40px auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 0.7px 0.7px 4px rgb(145, 143, 143);

}

.cmnt-sec {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 5px;
}

.quotes {
    font-size: 20px;
    margin-left: 20px;
}

.girl-name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    text-transform: capitalize;
    color: rgb(107, 183, 190);

}

.girl {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    object-fit: cover;
    border: 10px solid rgb(107, 183, 190);
}

.think {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;

}

.arrows {
    display: flex;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.left {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #61a8dd;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    transition: all 0.2s linear 0.1s;

}

.left:hover {
    background-color: white;
    border: 1px solid #6bb7be;
    color: #6bb7be;
}

.right {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #61a8dd;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    transition: all 0.2s linear 0.1s;

}

.right:hover {
    background-color: white;
    border: 1px solid #6bb7be;
    color: #6bb7be;
}


/* contact section  */
.contacted {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: #f8f9fa;
    padding-top: 80px;
    gap: 20px;

}

.left-contact {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.us {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: 34px;
    margin-bottom: 15px;

}

.names {
    height: 60px;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 4px;
    outline: none;
    border: none;
    margin: 7px 0px;
    padding-left: 10px;
    font-size: 0.9rem;
    box-shadow: 0.4px 0.4px 4px rgb(185, 184, 184);

}

.names:focus {
    border: 1px solid #3db6ee;
}

.msg {
    height: 100px;
    width: 100%;
    border-radius: 4px;
    margin: 4px 0px;
    padding: 15px 10px;
    font-size: 0.9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    outline: none;
    box-shadow: 0.4px 0.4px 4px rgb(185, 184, 184);

}

.msg:focus {
    border: 1px solid #3db6ee;


}

.snd {
    height: 40px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6bb7be;
    font-size: 17px;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.2s linear 0.1s;



}

.snd:hover {
    background-color: white;
    border: 1px solid #6bb7be;
}

.snd:hover .btn-snd {
    color: #6bb7be;

}

.btn-snd {
    background: none;
    border: none;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    cursor: pointer;
    color: white;
    transition: all 0.2s linear 0.1s;
    height: 40px;
    width: 100px;
}

.right-contact {
    display: flex;
    height: 500px;
    width: 40%;
}


/* footer */
.contactive {
    height: 520px;
    background-color: #191e1f;
    display: flex;
    flex-direction: column;
    padding: 60px;
    margin: 20px 50px 0px 50px;

}

.contact-methods {

    width: 100%;
    display: flex;
    justify-content: space-around;

}

.call {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    transition: all 0.2s linear;
}

.call:hover {
    color: #f18b47;
}

.phone {
    font-size: 25px;
}

.imp-div {
    display: flex;
    margin-top: 40px;
    padding-top: 30px;
    justify-content: space-between;

}

.foot {
    display: flex;

    flex-direction: column;
}

.quick {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
}

.quick-links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}

.row {
    display: flex;
    gap: 15px;

}

.rows {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin-top: 7px;
    transition: all 0.2s linear;

}

.rows:hover {
    color: #f18b47;
}

.insta-feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    gap: 10px;


}

.feed {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: white;
}

.feed1 {

    display: flex;
    justify-content: center;
    gap: 20px;
}

.feed-box {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.feed-img {
    height: 50px;
    width: 50px;

}

.newsletter {
    display: flex;
    flex-direction: column;
}

.signing {
    display: flex;
    flex-direction: column;
}

.up {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: white;
    text-transform: uppercase;
    margin: 10px 0px 25px 0px;
}

.emailing {
    height: 40px;
    width: 100%;
    padding-left: 15px;
    font-size: 1.01rem;
    outline: none;
    border: none;
}

.sub-btn {
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    cursor: pointer;

}


.subscribe {
    border: none;
    width: 200px;
    height: 50px;
    color: rgb(231, 229, 229);
    outline: none;
    background-color: #6bb7be;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.2s linear 0.1s;

}

.subscribe:hover {
    background-color: #191e1f;
    border: 1px solid #6bb7be;
    color: #6bb7be;
}

.media {
    display: flex;
    margin: 20px 0px;
    justify-content: start;
    gap: 12px;
}

.icn {
    font-size: 20px;
    color: #6bb7be;
    transition: all 0.2s linear;

}

.class {
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #6bb7be;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s linear;
}

.class:hover {
    color: #f18b47;
    border: 1px solid #f18b47;
}

.class:hover .icn {
    color: #f18b47;
}


.footer-end {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rights {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}